# 第三章 使用字符串

## 3.1 字符串的基本操作
* 所有标准的序列操作（索引、切片、乘法、成员资格检查、长度、最小值/最大值）都使用与字符串
* 字符串是不可变的

## 3.2 设置字符串的格式：精简版
* 可以使用str将其转换为字符串
* 将值转换为字符串并设置其格式，主要解决方案是使用字符串格式设置运算符：百分号   
* %左边色湖之一个字符串（格式字符串），并在右边指定要设置其格式的值。   
* 指定要设置其格式的值时，可使用单个值）——如字符串或数字，可以使用元组（如果设置多个值的格式），还可以使用字典

In [3]:
format = "Hello, %s. %s enough for ya?"
Values = ('World', 'Hot')
format % Values

'Hello, World. Hot enough for ya?'

上述格式字符串中的%s称为转换说明符，指出了要将值插入什么地方

# 应该使用的字符串方法format
每个替代字段都用花括号括起，其中可包含名称，还可能包含有关如何对相应的值进行转换和格式设置的信息

In [5]:
"{3} {0} {2} {1} {3} {0}.".format("be", "not", "or", "to")

'to be or not to be.'

In [8]:
from math import pi
"{name} is approximately {value}.".format(value = pi, name = "pi")

'pi is approximately 3.141592653589793.'

In [9]:
"{name} is approximately {value:.2f}.".format(value = pi, name = "pi")

'pi is approximately 3.14.'

## 3.3 设置字符串的格式：完整版
### 宽度、精度和千位分隔符
* 宽度用整数指定
* 精度用小数指定
* 可用逗号指出要添加千分位分隔符
* 要是想在最终结果中包含花括号，需要用两个花括号 {{ 来表示

In [10]:
"{name:10}".format(name = 3)

'         3'

In [11]:
"{name:10}".format(name = "Bob")

'Bob       '

In [14]:
'One googol is {:,}'.format(10**100)

'One googol is 10,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000'

## 符号、对齐和零填充
* 修改默认对齐方式，在指定宽度和精度的数前面可以添加一个标志可以是0，+，-或 空格
* 0表示用0来填充数字
* <、>和 ^分别表示左对齐、右对齐和居中
* 如果要在正数前面加上正号 +可以使用+
* 正数前面加上空格可以用空格
* 要想在其他进制前加上相应前缀可以用#

In [16]:
'{:010.2f}'.format(pi)

'0000003.14'

In [25]:
print('{0:<10.2f}\n{0:>10.2f}\n{0:^10.2f}\n'.format(pi))

3.14
      3.14
   3.14

In [24]:
print("{0:10.2f}\n{1:=10.2f}".format(pi, -pi))

3.14
-     3.14

In [3]:
"{:b}".format(42)

'101010'

In [4]:
"{:#b}".format(42)

'0b101010'

In [8]:
width = 35
price_width=10
item_width = width - price_width
header_fmt = '{{:{}}}{{:>{}}}'.format(item_width, price_width)
header_fmt

'{:25}{:>10}'

In [23]:
a = '{{:{}}}'.format(1)  #这样第一次格式设置之后最终结果就会包含花括号

'1'

## 3.4 字符串方法

### center 
通过在两边添加填充字符（默认是空格）让字符串居中

### find
在字符串中查找子串，如果找到就返回子串的第一个字符索引，否则返回-1   
find还可以指定起点和终点，包含起点不包含终点

### join
合并**序列**元素，所合并的**序列**元素必须是字符串

In [34]:
seq = '/'
sep = ["usr", "bin", "env"]
seq.join(sep)

'usr/bin/env'

### lower & upper
返回字符串的小写/ 大写版本

### replace
将指定子串都替换为另一个子串并返回替换后的结果

In [36]:
'This is a test'.replace('is', 'eez')

'Theez eez a test'

### split
用于将字符串拆分为**序列**   
如果没有指定分隔符，将默认在单个或多个连续的空白字符（空格，制表符，换行符）处进行拆分

In [37]:
'1 + 2+3+4+5'.split()

['1', '+', '2+3+4+5']

In [38]:
'1 + 2+3+4+5'.split("+")

['1 ', ' 2', '3', '4', '5']

### strip
将字符串开头和末尾的空白（但不包括中间的空白）删除，并返回删除后的结果    
参数可以加入要删除的指定字符

In [41]:
'*** spam * for * everyone!!! ***'.strip('! *')  #只能删除开头和额末尾的字符，因此中间的*并未删除

'spam * for * everyone'

### translate
* 进行单字符替换，可以一次替换多个字符
* 使用之前必须创建一个**转换表**，对字符串类型str调用maketrans方法，这个方法接受两个参数：长度相同的两个字符串，将第一个字符串的每个字符都替换为第二个字符串的对应字符
* 可选第三个参数指定哪些字符删除

In [48]:
table = str.maketrans('cs', 'kz')
"this is an incredible test".translate(table)

'thiz iz an inkredible tezt'

In [49]:
 table = str.maketrans('cs', 'kz',' ')
"this is an incredible test".translate(table)

'thizizaninkredibletezt'

## 判断字符串是否满足特定条件
很多字符串方法以is打头判断字符串是否具有特定性质